/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Chat Coyote CSS
*/

body {
  font-family: Andale Mono, Arial;
}

input {
  padding: 0;
  margin: 0;
}

.clear {
  clear:both;
}

.bottom-anchor {
  position: fixed;
  bottom: 0;
}

.messages {
  margin-bottom: 35px;
  width: 100%;
}

.message {
  margin: 5px;
  max-width: 65%;
}

.message.other {
  float:left;
}

.message.mine {
  float:right;
}

.message .screenname,.timestamp {
  font-size: 11px;
  color: #4c8141;
  margin: 0 15px;
  float: inherit;
}

.message .chatbubble {
  margin: 3px;
  position: relative;
  float: inherit;
}

.message .chattext {  
  font-size: 14px;
  padding: 7px 12px;
  -moz-box-shadow: 2px 4px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 4px 2px rgba(0,0,0,0.5);
  box-shadow: 2px 4px 2px rgba(0,0,0,0.5);
  -moz-border-radius: 20px;  
  -webkit-border-radius: 20px;
}

.message.other .chattext {
  background-color: #e1e1e1;
  margin-left: 10px;
}

.message.mine .chattext {
  background-color: #aedff4;
  margin-right: 10px;
}

.message .chattail {
  position: absolute;
  bottom: 2px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}

.message.other .chattail {
  float:left;
  left: 0;
  border-bottom: 12px solid #e1e1e1;
}

.message.mine .chattail {
  float:right;
  right: 0;
  border-bottom: 12px solid #aedff4;
}

.info {
  position: fixed;
  top: 0;
  padding: 5px;
  width: 100%;
  display: table;
}

.info .myname {
  background-color: #FFF;
  padding: 5px;
  border: 1px solid;
  -moz-border-radius: 10px;  
  -webkit-border-radius: 10px;
}

.info .setname {
  font-size: 15px;
}

.info section {
  display: table-cell;
  width: 33%;
  text-align: center;
}

.prompt {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.prompt .chatinput  {
  font-size: 20px;
  width: 100%;
}
